.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  width: 100%;
  font-size: 14px;
  font-weight: 500;
  background-color: white;
  color: black;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  right: 0;
  padding: 0 2%;
}
.navbar h1 {
  margin-left: 5%;
  margin-right: 5%;
}
.navbar a {
  color: rgba(0, 0, 0, 0.829);
  border-bottom: 2px solid transparent;
}

.ul {
  list-style-type: none;
  display: flex;
}
.ul li {
  margin: 20px;
}
.ul li a {
  transition: all 0.25s ease;
}
.ul li a:hover {
  color: rgba(0, 0, 0, 1);
  border-bottom: 2px solid #9eccfa;
  transition: all 0.55s ease;
}
.navbar i {
  display: none;
}
.active {
  color: rgba(0, 0, 0, 1);
  border-bottom: 2px solid #9eccfa;
  transition: all 0.55s ease;
}

@media (max-width: 600px) {
  .navbar h1 {
    /* font-size: 24px; */
    margin-left: 8%;
  }
  .ul li {
    margin: 12px;
  }
}
@media (max-width: 519px) {
  .navbar i {
    display: block;
    font-size: 20px;
  }
  .navbar ul {
    position: absolute;
    /* z-index: 0; */
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.062);
    top: 100%;
    color: white;
    right: 2%;
    margin-top: 5px;
    border-radius: 4px;
    background-color: #ffffff;
    width: 160px;
  }

  .ul li:hover {
    color: rgba(0, 0, 0, 1);
    /* background-color: #649bd677; */
  }
}
