.container {
  width: 360px;
  height: 200px;
  background-color: #ebf9f5;
  margin-top: 20px;
  padding: 20px;
}
.header {
  display: flex;
  justify-content: space-between;
}
.header img {
  width: 100px;
}
.header h4 {
  padding: 4px 8px;
  border-radius: 6px;

  background-color: #40d469;
  color: white;
}
.footer h3 {
  color: #31586d;
  margin-bottom: 12px;
}
@media (max-width: 1550px) {
  .container {
    width: 600px;
  }
}
@media (max-width: 1050px) {
  .container {
    width: 400px;
  }
}
